[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
tableformatter = {editable = true,path = "."}
wcwidth = "*"
typing = {version = "*",markers = "python_version < '3.5'"}

[dev-packages]
colorama = "*"
colored = "*"
flake8 = "*"
invoke = "*"
ipython = "*"
pytest = "*"
pytest-cov = "*"
twine = ">=1.11"
cmd2 = "*"
numpy = "*"
pandas = "*"
